:root{
    --header-color:#757575;
    
}


.body{
    font-family:"Roboto", "Regular", "sans-serif";
    color: #212121;
}

.list{
    list-style: none;
}

.header-link:hover,
.header-link:focus{
    color: #2196F3;
}

.header-mail{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color);
}

.header-tel{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color);
}

.hero-btn{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.hero-btn:focus,
.hero-btn:hover{
    color:#FFFFFF ;
    background-color: #2196F3;
}

.list {
    list-style: none;
}

.resume-caption {
    font-family:"Roboto",
    "Regular",
    "sans-serif";
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.resume-paragraph {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}